* {
  box-sizing: border-box;
}
body{
    margin: 0px;
    font-family: 'Dancing Script', cursive;
    background-color: white;
    text-align: center;
    text-decoration-color: brown;
}
div.dropdown{
    position: inherit;
}
table{
    border: 2px solid maroon;
}
th, td{
    padding: 5px;
}
label{
    color: #e74c3c;
}
label , input{
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    margin: 5px;
}
input [type=text]:focus {
    background-color: rgb(0, 255, 255);
    border-radius : 4px;
    border : 2px solid red;
    transition: width 0.4s ease-in-out;
    color: darkred;
    text-align: center;
}
/* 
div{
    overflow-x: auto;
    overflow-y:auto;
}
*/

table{
    margin-left: auto;
    margin-right: auto;
}
input[type=submit]{
background-color:rgba(0, 217, 255, 0.5);
border-radius: 1px;
border: 1px double gray ;
color:rgb(226, 13, 13);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
font-size: medium;
text-align: center;
padding: 10px;
margin-left: auto;
margin-right: auto;
}
.Dropdownzzz , .Submitzzz{
    size: 10px;
    margin-left: auto;
    margin-right: auto;
}
.Dropdownzzz:hover{
    background-color: rgba(7, 1, 12, 0.7);
}
ul{
    list-style-type: none;
}
a:hover{
    color: red;
}




.nav {
  height: 50px;
  width: 100%;
  background-color: #4d4d4d;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {  
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}